<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <h1>Show Page</h1>
    
    <p><%= campground.name %></p>
    <img src="<%= campground.image %>">
    
    <hr>
    
    <p><%= campground.description %></p>
    
    <hr>
    
    <% campground.comments.forEach(function(comment) { %>
        <p><small><%= comment.text %></small></p>
        <p><small>- <%= comment.author %></small></p>
        <hr>
    <% }) %>
    
    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-outline-primary btn-sm">Add Comment</a>
    
    <hr>
    
    <a href="/campgrounds">All Campgrounds</a>
    
    
    
    
</div>


<% include ../partials/footer %>